
  <tr class="row nested-fields">
    <%= ingredients_form.hidden_field :_destroy %>
    <td class="col-8"><%= ingredients_form.text_field :name, class:"form-control" %> </td>
      
    <td> <%= link_to "x", "#",class:"btn btn-danger text-center", data: { action: "click->nested-form#remove_association" } %> </td>
  </tr>
